
<div class="card">
    <p-menubar [model]="item">
        <ng-template pTemplate="start">
            <div class="card flex justify-content-center">
                <p-button label="New" routerLink="/create-personne"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="end" >
            <input type="text" type="text" 
            (input)="myTab.filterGlobal($any($event.target).value,'contains')" 
            autocomplete="on" pInputText placeholder="Recherche" style="width:auto" class="w-full" />
        </ng-template>
    </p-menubar>
    
</div>

<p-table #myTab [value]="personnes"
        [scrollable]="false" 
        [filterDelay]="0"
        [globalFilterFields]="['nom']" 
        [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
            <th>Département</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personne let-index="rowIndex">
        <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom }}</td>
            <td>{{ personne.age }}</td>
            <td>{{ personne.departement.designation }}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil"routerLink="/edit-personne/{{personne.id}}" class="p-button-success"></button>
                &nbsp;
                <button pButton pRipple icon="pi pi-trash" (click)="deletePersonne(personne.id)" class="p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>