<p-card  styleClass="user-form" class="flex justify-content-center">
    <form class="form"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label htmlFor="username">Nom</label><br>
        <input pInputText type="text" required formControlName="nom" id="nom"  name="nom" placeholder=" Votre Nom" /><br><br>
        <label htmlFor="username">Prénom</label><br>
        <input pInputText type="text" placeholder="Votre Prénom" required formControlName ="prenom" /><br><br>
        <label htmlFor="username">Age</label><br>
        <input pInputText type="number" placeholder="Votre Age" required formControlName ="age" /><br><br>
        <p-button label="Submit" type="submit"></p-button>
    </form>
</p-card>